<!DOCTYPE html>
<html ng-app="radApp">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta charset="utf-8"/>
	<title>JS18 Inspirational Quotes</title>
	<link rel="stylesheet" type="text/css" href="normalize.css">
	<link rel="stylesheet" type="text/css" href="radStyle.css">
	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-animate.js"></script>
</head>
<body ng-controller="radTroller">
	<header class="banner">
		<h1>Rad Quotes!</h1>
		
		<hr/>
		<button ng-click="randomQuoteLightbox()" class="random-quote button">Random Quote!</button>
		<div class="searchbar"><label>Search!</label><input name="Search" ng-model="searchText"/><button ng-click="searchClear()" class="button">X</button></div>
	</header>
	
	<div ng-init="sortByRating()" class="body-container">
		<div class="quotes-container">
			
			<div ng-show="randomQuoteDisplay" class="lightbox ng-cloak">
				<div class="ib-lb inner-box">
					<p ng-bind="randomQuote"></p>
					<p ng-bind="randomAuthor"></p>
					<p><span ng-repeat="stars in quoteArray[randomQuoteIndex].ratingArray">&#x26C4</span></p>
					<button ng-click="closeRandomQuoteLightbox()"class="button">Close</button>
				</div>
			</div>
		
			<ul>
				<li ng-repeat="quoteItem in quoteArray | filter:searchText">
					<div ng-show="!quoteItem.editValue" ng-bind="quoteItem.quote"></div>
					<div ng-show="!quoteItem.editValue" ng-bind="quoteItem.author" ng-click="filterAuthor($index)" class="author-button"></div>
					<div ng-show="!quoteItem.editValue"><span ng-repeat="stars in quoteItem.ratingArray">&#x26C4</span></div>
					<button ng-show="!quoteItem.editValue" ng-click="editQuote($index)" class="button">Edit Quote</button>
					<div ng-show="quoteItem.editValue" ng-keypress="submitEditKey($index, $event)">
						<label>Quote: </label>
						<textarea ng-model="quoteItem.quote"></textarea>
						<label>Author: </label>
						<input ng-model="quoteItem.author" type="textbox"/>
						<label>Rating: </label>
						<div class="rating-container">
							<label><input type='radio' name="rating" ng-value="1" ng-model="quoteItem.rating">1</label>
							<label><input type='radio' name="rating" ng-value="2" ng-model="quoteItem.rating">2</label>
							<label><input type='radio' name="rating" ng-value="3" ng-model="quoteItem.rating">3</label>
							<label><input type='radio' name="rating" ng-value="4" ng-model="quoteItem.rating">4</label>
							<label><input type='radio' name="rating" ng-value="5" ng-model="quoteItem.rating">5</label>
						</div>
						<button ng-click="submitEdit($index, $event)" class="button">Submit Edit</button>	
						<button ng-click="cancelEdit($index, $event)" class="button">Cancel</button>
						<button ng-click="deleteQuote($index, $event)" class="button">Delete</button>
					</div>
					<hr/>
				</li>
			</ul>
		</div>
		<div ng-show="thanksMessage" class="thanks-message">SWEET Dude!</div>
		<div class="form-container">
			<button ng-click="showForm()" ng-bind="formButtonString" class="button"></button>	
			<div ng-show="formToggle" class="form-container">
				<label>Quote: </label>
				<textarea ng-model="newQuote"></textarea>
				<label>Author: </label>
				<input ng-model="newAuthor" type="textbox"/>
				<label>Rating: </label>
				<div class="rating-container">
					<label><input type='radio' name="rating" ng-value="1" ng-model="newRating">1</label>
					<label><input type='radio' name="rating" ng-value="2" ng-model="newRating">2</label>
					<label><input type='radio' name="rating" ng-value="3" ng-model="newRating">3</label>
					<label><input type='radio' name="rating" ng-value="4" ng-model="newRating">4</label>
					<label><input type='radio' name="rating" ng-value="5" ng-model="newRating">5</label>
				</div>	
				<div ng-show="requiredMessage">Please include Quote and Author</div>
				<button ng-click="submitForm()" class="button">Submit Form</button>	
			</div>
		</div>
	</div>	
	<script type="text/javascript" src="radTroller.js"></script>
	<script type="text/javascript" src="radFactory.js"></script>
</body>
</html>