/************************************************************
Global Stuff
*************************************************************/

* {
	box-sizing: border-box;
}

html {
	font-size: 14px;
}

body {
/*	background-color: #48ed11;*/
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

.ng-cloak {
	display:none !important;
}

/************************************************************
Utility Classes
*************************************************************/

.searchbar {
	float:right;
}

.button {
	background-color:#48ed11;
	color:white;
	font-size:1.5rem;
	border:none;
	border-radius:0.5rem;
	margin: 0.5rem 0.5rem 0.5rem 0rem;
}

/************************************************************
Header Classes
*************************************************************/

.banner {
	background-color:#11B6ED;
	color:white;
	font-size:3rem;
	padding:1rem 1rem 0rem	1rem;
/*	border-bottom:5px solid #B611ED;*/
}

.banner h1 {
	margin:0;
	padding:0;
}

.banner hr {
	height:5px;
	background-color:#ED4811;
	margin:0;

}

.banner label {
	font-size:1.5rem;
	margin-right:1rem;
}

.banner input {
	font-size:1.5rem;
	color:black;
}

/************************************************************
Body Section Classes
*************************************************************/

.body-container {
/*	background-color: #B611ED;*/
/*	text-align:center;*/
}


/************************************************************
Quotes Section Classes
*************************************************************/

.quotes-container {
	background-color:#ED4811;
	color:white;
	font-size:1.5rem;
}

.quotes-container .author-button {
	width:200px;
}

.quotes-container textarea {
	display:block;
	color:black;
	width:300px;
	height:100px;
	resize:none;
}

.quotes-container input {
	display:block;
	color:black;
	width:300px;
}

.quotes-container li {
/*	border-top: 5px solid #11B6ED;*/
	/*border-bottom:5px solid #11B6ED;*/
	padding:1rem;
}

.quotes-container hr {
	background-color: #11B6ED;
	height:5px;
}

/************************************************************
Form Classes
*************************************************************/

.form-container {
	background-color:#B611ED;
	color:white;
	font-size:2rem;
	padding:1rem;
}

.form-container textarea {
	display:block;
	color:black;
	width:300px;
	height:100px;
	resize:none;
}

.form-container input {
	display:block;
	color:black;
	width:300px;
}

.thanks-message {
	background-color:#11B6ED;
	color:white;
	font-size:2rem;
	padding:1rem;
}

.rating-container label{
	display:inline-block;
	width:1rem;
}

/************************************************************
Random Lightbox Classes
*************************************************************/

.lightbox {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0px;
	left: 0px;
	padding-top:10vh;
	padding-bottom: 10vh;
	background-color: rgba(0, 0, 0, 0.7);
}

.inner-box {
	box-sizing: border-box;
	width: 50vw;
	max-height: 75vh;
	background-color:#ED4811;
	color:white;
	padding:25px 50px 25px 50px;
	margin:auto;
	border-radius:0.5em;
	overflow:auto;
}

.ib-lb {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}